.styles-jumbotron{
  background-image: url('../img/styles2.jpg');
  margin-bottom:10%;
}

.gallery-img, .service-section-1, .service-section-2, .service-section-3{
	margin-top:5%;
}
.services-section img, .hogwarts-section img{
	width:100%;
	display:block;
	margin-left:auto;
	margin-right:auto;
}

#footer{
    background-color:#797b8a;
}
a#pill{
	border-color: #9cd0cb;
	border-style:solid;
	border-width:2px;
	color:#9cd0cb;
}
a#pill h4{
	font-size:14px;
	color:#45474f;
	text-align:center;
}
.hogwarts-title h4{
	font-family:Harry-P;
	font-size:20px!important;
	margin-top:0px;
}

.active a#pill{
	background-color:#9cd0cb;
	color:#fff;
}

h1{
	font-family: Montserrat;
}
h3{
	color:#9cd0cb!important;
}
.harry h3{
	font-family:Harry-P;
	text-transform:lowercase!important;
	font-size:35px;
}
#top{
	color: #fff;
	background-color: #9cd0cb;
	border-color:#9cd0cb;
	border-style:solid;
	width:90%;
	margin-bottom:5%;
}
#top a{
	color:#fff;
}
.btn-social-icon{
	color:#fff;
	border-color:#9cd0cb!important;
	background-color:#9cd0cb!important;
}
.carousel-inner{
	height:225px;
}
.ig-link{
  color:#fff;
  width:90%;
  margin-bottom:5%;
  margin-top:5%;
}
.top-icon{
	background-color:#000;
	margin-bottom:5%!important;
}
.gallery-img p{
	text-align:center;
}
#footer{
	background-color:#e9fffc!important;
}
#copy-button{
	background-color:#9cd0cb;
	border-color:#9cd0cb;
}
span.glyphicon.glyphicon-chevron-right, span.glyphicon.glyphicon-chevron-left{
  color:#9cd0cb!important;
}
.harry, .service-section-1, .service-section-2, .service-section-3{
  border-style:solid;
  border-color:#ededed;
  border-width:.5px;
  margin:5%;
  border-radius:5px;
  width:85%;
}
.hat-img{
	margin-top:5%;
	width:20%;
	display:block;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:5%;
}
.sorting-hat p{
	width:90%;
	display:block;
	margin-left:auto;
	margin-right:auto;
}

/*=================responsive================*/
@media(min-width:1280px){
  .styles-jumbotron{
	  background-size:cover;
	  background-repeat:no-repeat;
	  padding-top: 40%;
	}
  a#pill h4{
    font-size:25px;
  }
  .hogwarts-title h4{
  font-size:35px!important;
  }
  .service-section-1{
    height:780px;
    width:40%;
    padding:3% 0;
  }
  .service-section-2{
    height:800px;
    width:40%;
    padding:3% 0;
  }
  .service-section-3{
    height:640px;
    width:40%;
 	padding:3% 0;
  }
  .service-section-1 img, .service-section-2 img{
    width:87%;
    display:block;
    margin-left:auto;
    margin-right:auto;
  }
 h3{
  	font-size:28px!important;
  }
   p{
  	font-size:20px!important;
  }
  .harry h3{
  	font-size:60px!important;
  }
  .services-section p{
  	text-align:left!important;
  	margin:7% 5%;
  }
  .ig-link, #top{
  	width:85%;
  	font-size:20px!important;
  }
  #top{
  	top:25px;
  }
  .gallery-img{
  	display:block;
  	margin-left:auto;
  	margin-right:auto;
  }
  .harry{
	margin:3%; 
	width:44%; 
	height:480px;	
  }
  .mobile-pills{
  	display:none;
  }
  .desktop-pills{
  	width:96%;
  	display:block;
  	margin-left:auto;
  	margin-right:auto;
  	margin-top:-5%;
  }
  .gallery-section img{
	width:auto;
	height:350px;
	display:block;
	margin-left:1.5%;
	margin-right:auto;
    }
}

@media(max-width:1280px){
   .styles-jumbotron{
  background-size:cover;
  background-repeat:no-repeat;
  width: 100%;
  height: 0;
  padding-top: 62.17%;
}
   .before-after h4{
     margin-top:5px;
  }
  .desktop-pills{
  	display:none;
  }
  a#pill{
  	height:60px;
	width:80px;
  }
  .gallery-section img{
	width:93%;
	display:block;
	margin-left:1.5%;
	margin-right:auto;
    }
}