.styles-jumbotron{
  background-image: url('../img/6.png');
  background-size: cover;
  height: 300px;
}
.gallery-section{
	margin-top:5%;
}
.gallery-img{
	margin:5%;
	background-color:#000;
}
.gallery-section img{
	width:100%;
}
.ig-link{
	text-align:center;
	margin-bottom:5%;
}
.btn-social-icon{
	color:#2b8da3;
	border-color:#2b8da3;
	font-size:20px;
}