.info-jumbotron{
  background-image: url('../img/info3.jpg');
  background-size: 100%;
  background-repeat:no-repeat;
  height:200px;
}
#day{
	text-align:right;
	width:60px;
	font-size: 20px;
}
#dayTues{
	text-align:center;
	width:60px;
	font-size: 20px;
}
#dayMon{
	text-align:center;
	width:60px;
	font-size: 20px;
}
#status{
	font-size: 20px;
	padding-left: 20px;
}
#status td{
	float:left;
}
#copy-button, #directions-btn{
	background-color:#70358d;
	border-color:#70358d;
}
.btn-social-icon{
	color:#fff;
	background-color:#70358d!important;
	border-color:#70358d!important;
}
.btn-social{
	color:#fff;
	background-color:#70358d!important;
	border-color:#70358d!important;
}
#footer{
	background-color:#e1dff4 !important;
}
.info-jumbotron h1{
	font-family:Montserrat;
	  text-transform:uppercase;
}
input{
	border-radius:5px;
	width:100px;
	height:35px;
	border-color:#efefef;
	padding-left:5px;
	border-style:solid;
}
table{
	font-family:Droid-Sans;
}
.info-page .row{
	margin-top:8%;
}
.info-page{
	margin-bottom:10%;
}

#day{
	text-align:right;
	padding-right:15%;
	width:60px;
}
#status td{
	float:left;
}
#copy-button, #directions-btn{
	background-color:#70358d!important;
	border-color:#70358d!important;
}
.btn-social-icon{
	color:#fff;
	background-color:#70358d!important;
	border-color:#70358d!important;
}
#footer{
	background-color:#e1dff4 !important;
}
.info-jumbotron h1{
	font-family:Montserrat;
	  text-transform:uppercase;
}
input{
	border-radius:5px;
	width:100px;
	height:35px;
	border-color:#efefef;
	padding-left:5px;
	border-style:solid;
}
table{
	font-family:Droid-Sans;
}
.info-page .row{
	margin-top:8%;
}
.info-page{
	margin-bottom:10%;
}
@media(max-width:1280px){
	.info-jumbotron{
	  background-image: url('../img/info3.jpg');
	  background-size: 100%;
	  background-repeat:no-repeat;
	  height:200px;
	  }
}
@media(min-width:1280px){
	.info-jumbotron {
	  background-image: url('../img/info4.jpg');
	  background-size:cover;
	  background-repeat:no-repeat;
	  width: 100%;
	  height: 0;
	  padding-top: 25%;
	  margin-bottom: -1%;
	}
	#day{
		padding-left:18em;
	}
	#dayTues{
		padding-left:14em;
	}
	#dayMon{
		padding-left:14em;
	}
	#hoursRow{
		margin-top: 5%;
		margin-bottom: 15%
	}
	#infoTable{
		margin-top: -10%;
		margin-bottom: 5%;
	}
	#appointments{
		margin-top: -0.5%;
		margin-bottom: 5%;
	}
	#consultations{
		margin-top: -0.1%;
		margin-bottom:-5%;
	}
}