.info-jumbotron{
  background-image: url('../img/1.jpg');
  background-size: cover;
  height: 300px;
}
#day{
	text-align:right;
	padding-right:15%;
	width:60px;
}
#status td{
	float:left;
}
.info-btn{
	background-color:#826ace;
	border-color:#826ace;
}
.btn-social-icon{
	color:#433ca5;
}
#footer{
	background-color:#e1dff4 !important;
}