/*====================global variables==================*/
/*------------------static nav bar---------------*/
.logo img{
  width:150px;
  margin-left:-50%;
  margin-top:5px;
}
.toggle-button{
  padding-left:10%;
  padding-top:10%;
}
header{
  background-color:#fff;
  position:fixed;
  z-index:100;
  width:100%;
  height:65px;
  top:0;
  left:0;
  right:0;
  border-color: rgba(0,0,0,0.2);
   border-style:solid;
   border-width:.5px;
}
.fa-bars{
  font-size:35px;
}


/*--------------nav menu-----------------------*/
.slideout-menu {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  width: 256px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  display: none;
  margin-top:13.7%;
}

.slideout-panel {
  position:relative;
  z-index: 1;
  will-change: transform;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}

.menu-section{
  margin-top:5%;
}
#menu{
  background-color:#42474d;
}
#menu a {
  color: #fff;
  text-decoration: none;
  padding:10px;
  margin-left:-3%;
  font-size:20px;
  font-family:Montserrat;
  text-transform:uppercase;
}
#menu a:visited{
  text-decoration:none;
  color:#fff;
}

#menu li{
  padding:7%;
  width:120%;
  margin-bottom:5px;
  margin-left:-15%;
  background-color:#e188ae;
}

/*--------------body------------*/
@font-face {
    font-family: Droid-Sans;
    src: url(fonts/DroidSans.ttf);
}
@font-face {
    font-family: Kaushan-Script;
    src: url(fonts/KaushanScript-Regular.otf);
}
@font-face{
  font-family: Montserrat;
  src: url(fonts/Montserrat-Regular.otf);
}
body {
  width: 100%;
  height: 100%;
  margin-top:65px;
  margin-bottom:60px;
}
hr{
  width:75%;
}
h1{
  margin-top:35%;
  text-align:center;
  color: #000;
}
p{
  font-size:16px;
}
h2{
  font-family: Montserrat;
  color:#d1215f;
}
h3{
  font-family: Montserrat;
  color:#70358d; /* purple */
}
h4{
  font-family: Droid-Sans;
}
p{
  font-family: Droid-Sans;
}
#redoBtn{
  background-color:#ffeebd;
  border-color:#ffeebd;
  color:#797b8a;
}
#textBtnBottom{
  background-color:#797b8a;
  border-color:#797b8a;
}
#readMoreBtn{
  color:#797b8a;
  font-weight:bold;
}
.glyphicon-chevron-down{
  top:4px;
  color:#797b8a;
}
#textBtn{
  background-color:#797b8a;
  border-color:#797b8a;
}

#footer
{
    background-color:#e5e5e5;
    position:fixed;
    bottom:0px;
    left:0px;
    right:0px;
    height:60px;
    padding:10px;
    margin-bottom:0px;
    z-index:1;
}
.btn-social-icon{
  font-size:20px;
}
input{
  border-radius:5px;
  width:100px;
  height:35px;
  border-color:#efefef;
  padding-left:5px;
  border-style:solid;
}
.btn-lg{
  font-size:16px;
}
#yelpCarousel p{
  text-align:left;
}

/*-----------------------carousel styling----------------*/
carousel-control.right {
    right: 0;
    left: auto;
    background-image: none;
    background-image: -o-linear-gradient(left,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
    background-image: none;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
    background-repeat: repeat-x;
}
.carousel-control.right {
    right: 0;
    left: auto;
    background-image: none;
    background-image: -o-linear-gradient(left,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
    background-image: none;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
    background-repeat: repeat-x;
}
.carousel-control.left {
    background-image: none;
    background-image: -o-linear-gradient(left,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);
    background-image: none;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
    background-repeat: repeat-x;
}
span.glyphicon.glyphicon-chevron-right, span.glyphicon.glyphicon-chevron-left{
  color:#70358d;
}
#yelpCarousel .carousel-inner{
  height:350px;
}


/*=======================end global variables=============================*/
.btn-default{
  background-color:#;
  border-color:#;
  color:#;
}
.CTA{
  margin-top:65%;
}
.jumbotron {
  background-image: url('../img/3.jpg');
  background-size: 100%;
  height: 240px;
}
.bio-pics img{
  max-width:200px;
}
.scroll-arrow img{
  width:70px;
  margin-top:42%;
}
h3{
  text-align:center;
}
.review{
  margin:5%;
}
.review a{
  text-decoration:none;
  color:#000;
}
.review h4{
  text-align:center;
}
.yelp{
  width:90%;
  display:block;
  margin: 5% 0%;
}
.review button{
  margin-top:5%;
  margin-right:10%;
}
.yelp-read-more{
  font-size:20px;
}
.yelp-link{
  width:90%;
  margin-top:-5%
}
.bio-buttons{
  width:90%;
  display:block;
  margin-left:auto;
  margin-right:auto;
}
.bio-buttons button{
  width:130px;
  font-size:16px;
}