/*====================global variables==================*/

header{
   background-color:#fff;
   position:fixed;
   z-index:100;
   width:100%;
   top:0;
   left:0;
   right:0;
   border-color: #e5e5e5;
   border-style:solid;
   border-width:.5px;
}

/*--------------nav menu-----------------------*/
.slideout-menu {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  width: 256px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  display: none;
  margin-top:13.7%;
}

.slideout-panel {
  position:relative;
  z-index: 1;
  will-change: transform;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}

.menu-section{
  margin-top:6%;
}
#menu{
  background-color:#44474e;
}
#menu a {
  color: #fff;
  text-decoration: none;
  padding:10px;
  margin-left:-3%;
  font-size:18px;
  font-family:Montserrat;
  text-transform:uppercase;
}
#menu a:visited{
  text-decoration:none;
  color:#fff;
}

#menu li{
  padding:7%;
  width:110%;
  margin-bottom:5px;
  margin-left:-15%;
  background-color:#d1215f;
  
}


/*--------------body------------*/
@font-face {
    font-family: Droid-Sans;
    src: url(fonts/DroidSans.ttf);
}
@font-face {
    font-family: Kaushan-Script;
    src: url(fonts/KaushanScript-Regular.otf);
}
@font-face{
  font-family: Montserrat;
  src: url(fonts/Montserrat-Regular.otf);
}
@font-face{
  font-family:Harry-P;
  src: url(fonts/HARRYP.TTF)
}
body {
  width: 100%;
  height: 100%;
  margin-top:65px;
  margin-bottom:60px;
}
hr{
  width:75%;
}
h1{
  margin-top:35%;
  text-align:center;
  color: #000;
  text-transform:uppercase;
}
p{
  font-size:16px;
}
h2{
  font-family: Montserrat;
  color:#d1215f; 
   text-transform:uppercase;

}
h3{
  font-family: Montserrat;
  color:#70358d; /* purple */
    text-transform:uppercase;

}
h4{
  font-family: Droid-Sans;
}
p{
  font-family: Droid-Sans;
}
#redoBtn{
  background-color:#f9d0d0;
  border-color:#f9d0d0;
  color:#44474e;
}
#textBtnBottom{
  background-color:#44474e;
  border-color:#44474e;
}
#readMoreBtn{
  color:#d1215f!important;
  font-weight:bold;
}
.glyphicon-chevron-down{
  top:4px;
  color:#d1215f!important;
}
#textBtn{
  background-color:#44474e;
  border-color:#44474e;
  width:90%;
}

#footer{
    background-color:#e5e5e5;
    position:fixed;
    bottom:0px;
    left:0px;
    right:0px;
    height:60px;
    padding:10px;
    z-index:1;
    width:100%;
}
.btn-social-icon{
  font-size:20px;
  background-color:#d1215f;
  border-color:#d1215f;
}
input{
  border-radius:5px;
  width:100px;
  height:35px;
  border-color:#efefef;
  padding-left:5px;
  border-style:solid;
}
.btn-lg{
  font-size:16px;
}
#yelpCarousel p{
  text-align:left;
}
#yelpCarousel h4{
  font-weight:bold;
  color:#44474e;
}
#yelpCarousel{
  border-style:solid;
  border-color:#ededed;
  border-width:.5px;
  border-radius:5px;
  width:81%!important;
  height:500px!important;
  margin-bottom:5%;
}
.fa-quote-left{
  color:#44474e;
}
#copy-button{
  background-color:#d1215f;
  border-color:#d1215f;
}
/*-----------------------carousel styling----------------*/
carousel-control.right {
    right: 0;
    left: auto;
    background-image: none;
    background-image: -o-linear-gradient(left,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
    background-image: none;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
    background-repeat: repeat-x;
}
.carousel-control.right {
    right: 0;
    left: auto;
    background-image: none;
    background-image: -o-linear-gradient(left,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
    background-image: none;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
    background-repeat: repeat-x;
}
.carousel-control.left {
    background-image: none;
    background-image: -o-linear-gradient(left,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);
    background-image: none;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
    background-repeat: repeat-x;
}
span.glyphicon.glyphicon-chevron-right, span.glyphicon.glyphicon-chevron-left{
  color:#70358d;
}


/*=======================end global variables=============================*/
.btn-default{
  background-color:#;
  border-color:#;
  color:#;
}
.CTA{
  margin-top:65%;
}
.jumbotron {
  background-image: url('../img/1.png');
  background-size:cover;
  background-repeat:no-repeat;
  width: 100%;
  height: 0;
  padding-top: 59.1%;
}
.bio-pics img{
  max-width:200px;
}

h3{
  text-align:center;
}
.review{
  margin:5%;
  text-align:left;
}
.review a{
  text-decoration:none;
  color:#000;
}
.review h4{
  text-align:center;
}
.yelp{
  width:90%;
  display:block;
  margin: 5% 0%;
}
.review button{
  margin-top:5%;
  margin-right:10%;
}
.yelp-read-more{
  font-size:20px;
}
.yelp-link{
  width:81%;
  margin-top:-5%
}
.bio-buttons{
  width:90%;
  display:block;
  margin-left:auto;
  margin-right:auto;
}
.bio-buttons button{
  width:120px;
  font-size:16px;
}

/*====================desktop things only==================*/
#yelpReviewsDesktop{
  margin-bottom:8%;
  display:block;
  margin-left:5%;
  margin-right:5%;
  text-align:left;
}

/*=========================responsive=======================*/
@media(min-width:1280px){
  #yelpCarousel{
    display:none;
  }
  #textBtn, .yelp-link{
    width:25%;
  }
  .bio-mobile{
    display:none;
  }
  .bio-intro{
    margin-top:8%;
  }
  p{
    font-size:20px;
  }
  .scroll-arrow img{
  width:70px;
  margin-top:-5%;
  }
  /*nav bar*/
  .mobile-header{
    display:none;
  }
  header{
    height:100px;
  }
  .logo img{
    width:230px;
  }
  .logo{
    left:2.5%;
    padding-top:1%;
  }
  ul.desktop-menu {
    right:0;
    list-style-type: none;
    height:70px;
    /*background-color:#44474e;*/
    margin-top:2.8%;
    padding-top:2%;
  }
  ul li{
    display: inline;
   /* background-color:#d1215f;*/
   /* border-bottom:solid #d1215f;*/
    padding:10px;
    margin:10px;
  }
  .desktop-menu a{
    color:#44474e;
    font-size:24px;
    text-transform:uppercase;
    font-family:Montserrat;
  }
  .active-link{
     border-bottom:solid #d1215f;
  }
}

@media(max-width:1280px){
  #yelpReviewsDesktop{
    display:none;
  }
  .bio-desktop{
    display:none;
  }
  .desktop-header{
    display:none;
  }
  /*nav bar*/
  .toggle-button{
    padding-left:10%;
    padding-top:10%;
  }
  header{
    height:65px;
  }
  .fa-bars{
    font-size:35px;
    color:#494a51;
  }
    .logo img{
    width:150px;
    margin-left:-50%;
    margin-top:5px;
  }
  .active-link{
  border-bottom:solid #fff;
  }


/*==================iPhones only=====================*/
.iphone-text{
  display:none;
  color:#fff;
  margin:15% 0 20%;
}

.modal-body p{
  width:90%;
  display:block;
  margin-left:auto;
  margin-right:auto;
}
/* iPhone 4 */
@media screen and (device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 2) {
  .iphone-text{
      display:block;
      background-color:#d1215f;
      border-color:#d1215f;
  }
  #post-shortlink, #copy-button{
    display:none;
  }
}
/*iphone 5*/
@media screen and (device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2){
   .iphone-text{
      display:block;
      background-color:#d1215f;
      border-color:#d1215f;
  }
  #post-shortlink, #copy-button{
    display:none;
  }
}  
/*iphone 6*/
@media screen and (device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2){
  .iphone-text{
      display:block;
      background-color:#d1215f;
      border-color:#d1215f;
  }
  #post-shortlink, #copy-button{
    display:none;
  }
}  
/*iphone 6plus*/
@media screen and (device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3){
  .iphone-text{
      display:block;
      background-color:#d1215f;
      border-color:#d1215f;
  }
  #post-shortlink, #copy-button{
    display:none;
  }
}  


