.services-jumbotron{
  background-image: url('../img/services2.jpg');
   background-size: 100%;
  background-repeat:no-repeat;
  height:200px;
  font-family:Montserrat;
	text-transform:uppercase;
}
.services-btn{
  background-color:#e188ae;
  /* border-color:#e188ae; */
}
.btn-social-icon{
	color:#fff;
	background-color:#d1215f;
	font-size:20px;
}
#footer{
	background-color:#f4e6e8 !important;
}
.panel-heading{
	text-decoration:none;
	color:#fff;
	background-color:#d1215f;
}
.panel-heading h4{
	font-family:Montserrat;
}

.panel-group{
	margin-top:10%;
}

.carousel-inner{
	height:350px!important;
}

h3{
	color:#d1215f !important;
}
#redoBtn{
	margin-top:5%;
	width:100%;
}

a.gallery-link{
	color:#d1215f;
	font-size:14px;
}
span.glyphicon.glyphicon-chevron-right, span.glyphicon.glyphicon-chevron-left{
  color:#d1215f!important;
}
#copy-button{
	background-color:#d1215f;
	border-color:#d1215f;
}
#stylespane p{
	width:90%;
}
.services-reviews{
	margin-top:5%;
}
.coloring h4{
	font-family:Montserrat;
	color:#797b8a;
}

.panel-title .glyphicon{
	float:right;
	color:#fff!important;
}
#collapseTwo i{
	font-size:12px;
}
#services-yelp-carousel{
	border-style:solid;
    border-color:#ededed;
    border-width:.5px;
    border-radius:5px;
    width:90%;
    display:block;
    margin-left:auto;
    margin-right:auto;
    height:370px;
    margin-bottom:5%;
}
@media(max-width:1280px){
	.panel-heading{
		height:50px;
	}
	.panel-heading h4{
		padding-top:3%;
	}
}
@media(min-width:1280px){
	.services-jumbotron{
	  background-image: url('../img/services3.jpg');
	   background-size:cover;
	  background-repeat:no-repeat;
	  width: 100%;
	  height: 0;
	  padding-top: 25%;
	}
	a.gallery-link{
		font-size:16px;
		margin-right:8%;
	}
}