.services-jumbotron{
  background-image: url('../img/7.jpg');
  background-size: cover;
  height: 300px;
}
.services-btn{
  background-color:#e188ae;
  border-color:#e188ae;
}
.btn-social-icon{
	color:#ea6578;
	border-color:#ea6578;
	font-size:20px;
}
#footer{
	background-color:#f4e6e8 !important;
}
.panel-heading{
	text-decoration:none;
	color:#fff;
	background-color:#9cd0cb;
}
.panel-group{
	margin-top:10%;
}
.glyphicon{
	float:right;
}